asgiref==3.8.1
backports.zoneinfo==0.2.1
black==24.4.2
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
dj-database-url==2.2.0
Django==4.2.13
fonttools==4.53.1
gunicorn==22.0.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.1
pandas==2.0.3
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
zipp==3.19.2
