{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recipes Home</title>
        <link rel="stylesheet" href="/static/css/recipes_home.css" />
        <link rel="stylesheet" href="/static/css/nav.css" />
        <script src="{% static 'recipes/js/recipes_home.js' %}" defer></script>
        <style>
            body {
                background-image: url("{% static 'recipes/images/food_background.jpg' %}");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh;
                overflow-x: hidden;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li class="nav-item">
                    <a href="{% url 'recipes:recipes' %}">All Recipes</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'recipes:search' %}">Search</a>
                </li>
                <li class="nav-item header-home">
                    <a href="{% url 'recipes:home' %}"><h1>Recipe App</h1></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users:profile' %}">Profile</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            <div class="main-box">
                <h1>Welcome!</h1>
                <a class="button" href="{%url 'recipes:recipes' %}"
                    >Explore Recipes!</a
                ><br />
                {% if user.is_authenticated %}
                    <a data-open-modal class="button" id="create">Create a Recipe!</a>
                {% else %}
                    <a href="{% url 'login' %}" class="button" id="create">Create a Recipe!</a>
                {% endif %}
                <a class="button" id="about" href="{% url 'recipes:about' %}">About Me</a>

                <dialog data-modal>
                    <button data-close-modal id="close-button">X</button>
                    <h2>Create a Recipe</h2>

                    <form
                        action="{% url 'recipes:create_recipe' %}"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        <label for="name">Recipe Name:</label>
                        <input type="text" id="name" name="name" required />

                        <label for="cooking_time">Cooking Time:</label>
                        <input
                            type="number"
                            id="cooking_time"
                            name="cooking_time"
                            placeholder="in minutes"
                            required
                        />

                        <label for="ingredients">Ingredients:</label>
                        <textarea
                            rows="3"
                            type="text"
                            id="ingredients"
                            name="ingredients"
                            placeholder="Separate each ingredient with a comma and space"
                            required
                        ></textarea>

                        <label for="description">Description:</label>
                        <textarea
                            type="text"
                            id="description"
                            name="description"
                            rows="5"
                            placeholder="[optional]enter a brief description for your recipe"
                        ></textarea>

                        <label for="instructions">Instructions:</label>
                        <textarea
                            type="text"
                            id="instructions"
                            name="instructions"
                            rows="10"
                            placeholder="Number each step and separate with a semicolon and space. Ex: 1. Step 1; 2. Step 2"
                            required
                        ></textarea>

                        <label for="pic">Picture:</label>
                        <input
                            type="file"
                            accept="image/*"
                            id="pic"
                            name="pic"
                        />

                        <button type="submit" class="button">Submit</button>
                    </form>
                </dialog>
            </div>
        </main>
    </body>
</html>
